<div>
  <button nz-button nzType="primary" class="button-add"  (click)="showModal()">Agrergar</button>
</div>
  <nz-table #basicTable >
  <thead>
    <tr>
      <th>Estado</th>
      <th>Email</th>
      <th>Fecha de Creacion</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.createdAt }}</td>
      <td>{{ user.isActive }}</td>
      <td>
        <a>Action 一 {{ user.email }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

