<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" *ngIf="showLayout">
    <div class="sidebar-logo">
      <img src="../../../../assets/images/logo.jpg" alt="logo">
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/dashboard" nzMatchRouter>
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span >Dashboard</span>
      </li>
      <li nz-submenu nzOpen nzTitle="Usuarios" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="'/users/admin'">Administradores</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="'/users/users'">Usuarios</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="logout()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Cerrar Sesion</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <app-header *ngIf="showLayout"></app-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
