<form nz-form [formGroup]="userForm" [nzLayout]="'vertical'">
  <nz-form-item>
    <nz-form-label nzFor="isActive">Activo</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="isActive"></nz-switch>
    </nz-form-control>
  </nz-form-item>


  <div nz-row [nzGutter]="18">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="firtsName" nzRequired>
          <span>Nombres</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Este campo es obligatorio">
          <input nz-input [value]="userForm.value.firtsName" id="firtsName" formControlName="firtsName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="lastName" nzRequired>
          <span>Apellidos</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Este campo es obligatorio">
          <input nz-input id="lastName" formControlName="lastName" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="18">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="identificationType">Tipo de Identificacion</nz-form-label>
        <nz-form-control nzErrorTip="Debe seleccionar el tipo de identificación">
          <nz-select nzId="identificationType" formControlName="identificationType" nzPlaceHolder="Seleccionar">
            <nz-option [nzValue]="document" *ngFor="let document of documentType" [nzLabel]="document"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="identification">Identificación</nz-form-label>
        <nz-form-control nzErrorTip="Ingrese un valor valido">
          <input nz-input formControlName="identification" id="identification" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <fieldset [disabled]="isEditing">
          <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control nzErrorTp="Ingrese un correo valido">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </fieldset>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" *ngIf="!isEditing">
      <nz-form-item>
        <nz-form-label nzFor="password" nzRequired>Contaseña</nz-form-label>
        <nz-form-control nzErrorTip="La contraseña es obligatoria">
          <input nz-input type="password" id="password" formControlName="password" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="cellPhone" nzRequired>Telefono</nz-form-label>
        <nz-form-control [nzValidateStatus]="userForm.controls['cellPhone']" nzErrorTip="Este campo es obligatorio">
          <input formControlName="cellPhone" id="'cellPhone'" nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Cancelar</button>
    <button nz-button nzType="primary" (click)="validateAction()">{{isEditing ? "Actualizar" : "Crear"}}</button>
  </div>
</form>
