<div class="container">

  <nz-card class="card-login" [nzBordered]="false" nzTitle="Reestablecer contraseña">
    <form nz-form [formGroup]="forgotForm" class="login-form" (ngSubmit)="resetPassword()">

      <nz-form-item>
        <nz-form-control nzErrorTip="Ingresa un correo valido">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Correo" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isLoading">Enviar</button>
      <div nz-row class="login-form-margin">
      </div>
    </form>
  </nz-card>
</div>
