<div class="container">

  <nz-card class="card-login" [nzBordered]="false" nzTitle="Ingresar">
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">

      <nz-form-item>
        <nz-form-control nzErrorTip="Ingresa un correo valido">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Correo" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Contraseña invalida">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isLoading">Ingresar</button>
      <div nz-row class="login-form-margin">
        <a class="forgot-password">Olvide mi contraseña</a>
      </div>
    </form>
  </nz-card>
</div>
